body{background-color : rgb(255, 223, 176); margin : 0; padding: 0; font-family: "Karla","Arial"; font-size : 14px; color : black;   }

header, footer, nav, section, article, aside{display:block; width: auto; height: auto; }
ul,li,h1,h2,h3,h4,h5,h6,span,p{padding: 0; margin: 0;}
a{ text-decoration:none; color: green; }
.hide {display: none;}
h1{font-size: 25px; color: black; text-align: center; margin-top: 20px; }

#Cforum{width: 780px; min-height: 300px; padding: 10px; margin: auto; margin-top: 20px; background-color: white; border:  1px solid rgb(209, 127, 3);}
.categories {width: 700px; margin: auto; background-color: rgb(235, 235, 235); height: 50px; line-height: 50px; margin-top: 20px; padding: 10px;  }
.post{background-color: rgb(247, 234, 206); margin: auto; margin-top: 10px;min-height: 200px; width: 700px; padding: 10px; }

